html, body {
  height: 100%;
}

a {
  padding: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background: rgb(0, 25, 58);
}

p {
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background: rgb(0, 25, 58);
}

table {
  margin: 5px;
  text-align: center;
}


th, td {
  padding: 2px 2px;
}

tr.detail-row {
  display: none;
  text-align: justify;
  background: rgb(0, 22, 54);
}

tr.main-row[aria-expanded="true"]+tr.detail-row {
  display: table-row;
}

tr.main-row {
  cursor: pointer;
  font-weight: bold;
}

tr.main-row:hover {
  background: rgb(4, 28, 65);
}

#body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(0, 14, 32);
  font: normal 100%/1.5 monospace;
}